.card {
    border: 1px solid gainsboro;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desp {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.date {
    margin: 0;
    font-size: 12px;
    color: #ea7575;
}
.card img {
    height: 15px;
    
}
.card button {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;

}