.form {
  background-color: lightblue;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid gainsboro;
}
.TD {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.TD-input {
  width: 49%;
}
.counter {
  justify-content: space-between;
  display: flex;
}
.counter-field {
  letter-spacing: 1.2px;
  font-size: 14px;
  flex: 1;
  border: 1px solid gainsboro;
  padding: 5px 10px;
  color: gray;
}

.counter-btn {
  background: white;
  border: 1px solid gainsboro;
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: gray;
}
.btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btn {
  color: white;
  outline: none;
  padding: 10px 30px;
  font-size: 15px;
  background-color: #9ce08f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
}

.btn-cancel {
  color: black;

  padding: 10px 20px !important;

  background-color: transparent;

  cursor: pointer;
}

.bottom {
  align-items: center;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.p {
  cursor: pointer;
}
